<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set URL</title>
</head>
<center>
    <body>
        <h1>Set url</h1> <br>
        <div id="old"></div> <br>
        <form action="/admin/seturl" method="post">
            <input type="text" name="url" placeholder="Enter new url" id="url">
            <br> <button id="submit">submit</button> <br>
        </form>
        <button id="logout">logout</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(()=>{
            $("#old").html("");
            $.ajax({
                url:"/admin/geturl",
                type:"get",
                headers:{
                    Authorization:localStorage.getItem("token")
                },
                success:(data)=>{
                    if(data.url === undefined){
                        $("#old").html("You are not authorized");
                    }
                    else
                        $("#old").html(`Current url:  ${data.url}`);
                    }
            })

            $("#submit").on("click",(e)=>{
                e.preventDefault();
                $.ajax({
                    url:"/admin/seturl",
                    type:"post",
                    data:{
                        url:$("#url").val()
                    },
                    headers:{
                        Authorization:localStorage.getItem("token")
                    },
                    success:(data)=>{
                        location.reload();
                    }
                });
            })

            $("#logout").on("click",(e)=>{
                e.preventDefault();
                localStorage.clear();
                window.location.replace("/admin");
            });
        });

    </script>
    </body>
</center>
</html>